@import '../../Styles/common.scss';

.Cart{
 margin-top: 200px;
  .checkoutContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    justify-content: center;
.totalcontainer{
  display: flex;
  justify-content: space-between;
  margin: 15px 0 20px 0;
  width: 100%;

}
    .homeBtn{
        padding: 15px;
        border: medium none;
        border-radius: 0;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.25px;
        text-transform: uppercase;
        background-color: black;
        color:#fff;
        cursor: pointer;
    }
  
  }

}


