@import '../../Styles/common.scss';

.cartContainer {
  width: 100%;
  position: relative;
  h1 {
    font-size: 25px;
  }
  .productContainer {
    display: flex;
    justify-content: space-between;
    // background-color: blue;
    border-bottom: 1px solid gray;
    width: 300px;
    img {
      width: 75px;
      height: 75px;
    }
    .productText {
      width: 80px;
      margin-top: 20px;
      font-size: 5px;
    }
    .price {
      margin-top: 30px;
      margin-right: 10px;
      font-size: 15px;
    }
  }
  .totalcontainer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .deleteBtn {
    position: absolute;
    top: 0;
  }
}
