@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

:root {
  --color-black: #0000;
  --color-white: #ffff;
  --color-gray: #6666;
}

body {
  background: var(--color-white);
  margin: 0;
  text-decoration: 0;
  font-family: 'Archivo Narrow', sans-serif;
}

* {
  box-sizing: border-box;
}
