.BagCategoryView {
  .listCategoryHead {
    width: 1130px;
    height: 28px;
    margin: 200px auto 10px;
    font-size: 19px;
    padding: 6px;
  }
  .baglistName {
    width: 1130px;
    margin: 100px auto 0;
    font-weight: 300;
    font-size: 60px;
  }
  .categoryHead {
    width: 1130px;
    font-size: 80px;
    margin: 30px auto 80px;
  }
  .miniDesc {
    width: 1130px;
    font-size: 20px;
    margin: 30px auto 80px;
  }
  .priceandFilter {
    display: flex;
    justify-content: space-between;
    width: 1130px;
    margin: 40px auto;
  }

  .listContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1130px;
    height: auto;

    .listImg {
      width: 141.25px;
      height: 141.25px;
    }
  }
  .productBtn {
    width: 240px;
    margin: 70px 0 50px 260px;
    padding: 15px;
    text-align: center;
    background-color: black;
    color: white;

    &:hover {
      background-color: gray;
    }
  }
}
