.signup_form{
  padding:20px 15px;
  margin: 30px;
  .signup_container{
    border: 1px solid #DEDEDE;
    margin-bottom: 15px;
    .signup_header{
      background-color: #DEDEDE;
      display: flex;
      height: 40x;
      .text_general{
        background: #ADC088;
        padding: 0 8px;
        line-height: 40px;
      }
    }
    .sigup_content{
      padding: 15px;
      h1{
        font-size: 50px;
      }
      .form_signup_item_container{
        margin: 35px 0;

        .form_signup_item{
          margin-bottom: 20px;

          label{
            display: block;
            color:#000;
            font-size: 14px;
            font-weight: bold;
            cursor: default;
          }
          input{
            background: none;
            border: none;
            border-bottom: solid 2px #000;
            padding: 0 0 5px 0;
            transition: border 0.1s;
            &:hover{
              border-color: #ADC088;
            }
          }
        }

      }
      .info_text{
        color: #B2B6BB;
        font-size: 15px;

      }
    }
  }
  .form_action{
    position: relative;

    .person_icon{
      font-weight: bold;
      font-size: 25px;
      position: absolute;
      z-index: 0;
      color: white;
      margin: 6px 6px;
    }
    
    input{
      background-color: black;
      border: medium none;
      border-radius: 0;
      color:#fff;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.25px;
      margin-right: 10px;
      text-transform: uppercase;
      padding: 12px 20px 10px 35px;
    }
  }
  
}
