.signupForm{
  padding:20px 15px;
  margin: 30px;

  .signupContainer{
    border: 1px solid #DEDEDE;
    margin-bottom: 15px;

    .signupHeader{
      background-color: #DEDEDE;
      display: flex;
      height: 40px;

      .textGeneral{
        background: #ADC088;
        padding: 0 8px;
        line-height: 40px;
      }
    }
    .sigupContent{
      padding: 15px;

      h1{
        font-size: 50px;
      }

      .formSignupItemContainer{
        margin: 35px 0;

        .formSignupItem{
          margin-bottom: 20px;

          label{
            display:block;
            color:#000;
            font-size: 14px;
            font-weight: bold;
            cursor: default;

            span{
              display: inline;
            }
           
            input{
              display: block;
              background: none;
              border: none;
              border-bottom: solid 2px #000;
              padding: 0 0 5px 0;
              transition: border 0.1s;
              
              &:hover{
                border-color: #ADC088;
              }
            }
          }
        }
      }
      .infoText{
        color: #B2B6BB;
        font-size: 15px;
      }
    }
  }
  .formAction{
    position: relative;

    .personIcon{
      font-weight: bold;
      font-size: 25px;
      position: absolute;
      z-index: 0;
      color: white;
      margin: 6px 6px;
    }
    
    input{
      background-color: black;
      border: medium none;
      border-radius: 0;
      color:#fff;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.25px;
      margin-right: 10px;
      text-transform: uppercase;
      padding: 12px 20px 10px 35px;
    }
  }
}
